/* Set general rules */
* {
    box-sizing: border-box;
    color: rgb(221, 215, 215);
}
/* Starting with the main header of the index */
#head {
    display: block;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 60px auto;
    color: white;
    background-color: #800020;
    width: 70%;
}

/* Style the list elements by placing them besides each other */

/* Style the body */
.recipes {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    color: antiquewhite;
    justify-content: center;
}

/* Style the elements of the list using a descendant */

.recipes li {
    margin: auto;
    height: 400px;
    width: 25%;
    padding: 100px;
    background-color: #c45a34;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Setting the text decoration to none */
.recipes li a {
    text-decoration: none;
}

/* Style the image of the dish */
/* Set the width an the height, and add border */
/* Align the image to the center */
.dish-image {

    display:block;
    width: 50%;
    height: 500px;
    margin: 0 auto 20px;
    border: #800020 solid;
}

/* Center the header elements */
/* Set a consistent size */
.header {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    
}


/* style the list items */
.lists li {
    display: flex;
    list-style: none;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}